bin/Assignment 1.exe
bin/Assignment 1.ilk
bin/Assignment 1.pdb
bin/Assignment 2.exe
bin/Assignment 2.ilk
bin/Assignment 2.pdb
build/Advanced Physics.sdf
build/ipch/
temp/Assignment 2/
temp/Assignment 1/
temp/Cyclone/Debug/
