bin/Assignment 1.exe
bin/Assignment 1.ilk
bin/Assignment 1.pdb
bin/Assignment 2.exe
bin/Assignment 2.ilk
bin/Assignment 2.pdb
build/Advanced Physics.sdf
build/ipch/
temp/Assignment 2/
temp/Assignment 1/
temp/Cyclone/Debug/
build/Advanced Physics.v11.suo
build/Advanced Physics.v11.suo

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
